name: Update Pacman Graph

on:
  workflow_dispatch:
  schedule:
    - cron: '30 2 * * *'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Download Pacman Graph
        run: |
          curl -L "https://github-readme-activity-graph.vercel.app/graph?username=TioSam989&theme=github-dark&custom_title=PAC-MAN%20CONTRIBUTIONS&bg_color=0d1117&color=ffdd00&line=00ff00&point=ff0000&area=true&hide_border=true" -o pacman-graph.svg
          
      - name: Deploy Graph
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: output
          destination_dir: games
